[submodule "login-form-react-frontend"]
	path = login-form-react-frontend
	url = https://github.com/lazycatz74/login-form-react-frontend
[submodule "client"]
	path = client
	url = https://github.com/lazycatz74/login-form-react-frontend
